.login-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: DM Sans;
}

@media screen and (min-width: 768px) {
  .login-background {
    flex-direction: row;
  }
}

.loader-background {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-login-view-image-background {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .mobile-login-view-image-background {
    display: none;
  }
}

.mobile-login-view-image {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .tablet-login-view-form-background {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.login-form {
  margin: auto;
  margin-top: -50px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .login-form {
    margin-top: 0;
    margin: auto;
    padding: 24px;
    width: 65%;
    box-shadow: 0px 8px 40px 0px #07070714;
    border-radius: 6px;
  }
}

@media screen and (max-width: 767px) {
  .tablet-login-view-logo-and-title-background {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tablet-login-view-logo-and-title-background {
    text-align: center;
    margin-bottom: 20px;
  }

  .tablet-login-view-title {
    color: #f7931e;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 30px;
    user-select: none;
  }
}

.login-text {
  color: #0f172a;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .login-text {
    text-align: center;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.label-text {
  color: #475569;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.input-element {
  padding: 15px;
  outline: none;
  color: #171f46;
  font-size: 16px;
  background-color: #e2e8f0;
  border-radius: 6px;
  border: none;
}

.login-err-msg {
  color: #ef4444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  margin-top: -20px;
}

.login-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  background-color: #f7931e;
  width: 100%;
  transition: all 1s ease-in-out;
}

.login-btn:hover {
  color: #f7931e;
  background-color: #e2e8f0;
  box-shadow: 0px 8px 40px 0px #07070714;
}

@media screen and (max-width: 767px) {
  .tablet-login-view-image-background {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tablet-login-view-image-background {
    width: 50%;
  }

  .tablet-login-image {
    width: 100%;
    height: 100vh;
  }
}
